body{
    background: #f0f2f5;
   
}
.main{
    
    align-items: center;
    background-color: #fff;
    
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    margin-top: 130px;
    margin-right: 0px;
    
    margin-left: 780px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 8px;
    width: 395px;
    height: 360px;
    
    
    
}
.text{
    height: 22px;
    border: 1px solid #dddfe2;
    
    
    border-radius: 6px;
    padding-top: 14px;
    width: 330px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 14px;
    margin-left: 5px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.text:focus,text:focus{
    outline: none !important;
    border-color: #1877f2;
    caret-color:  #1877f2;
    
}


.button{
    background-color: #186ff2;
    border: none;
    border-radius: 6px;
    font-size:20px;
    line-height: 48px;
    padding-left: 20px;
    width: 357px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 6px;
    
}
.button:hover,button:hover{
    outline: none !important;
    background-color: #196ddb;
}
.butefct {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

.button1{
    background-color: #42b72a;
    width:200px;
    font-size: 17px;
    
}
.button1:hover,.button1:hover{
    outline: none !important;
    background-color: #24a00c;
}
h4{
    text-align: center;
}
h1{
    margin-left: 20px;
    margin-top: 40px;
    
}
.textfp {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
text-decoration: none;
color: #1877f2;
font-weight: normal;
direction: ltr;
line-height: 1.34;
}
.textfp:hover{
    text-decoration: underline;
}
.line {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(218, 221, 225);
    display: flex;
    margin: 20px 16px;
    margin-top: 20px;
    margin-right: 16px;
    margin-bottom: 20px;
    margin-left: 16px;
    text-align: center;
}
.imglg{
    height: 106px;
    margin: -28px;
    
    padding-left: 175px;
    padding-top: 65px;
    
}
.con_text{
    font-size: 28px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    color: #1c1e21;
    display: inline-block;
    padding-top: 0px;
    padding-left: 175px;
    margin-top: 15px;
    
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    
    
}
.con_div{
   
    width: 650px;
    float: left;
}
.createpage{
    
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-left: 830px;
    margin-top: 25px;
    
}

.alink{
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    color: #1c1e21;
    padding-top: 30px;
    
}
.alink:hover,.alink:hover{
    text-decoration: underline;
}